*{
    padding: 0;
}

body {
    animation-name: back;
    animation-duration: 5s;
    animation-iteration-count: infinite; 
}
@keyframes back {
    0% {
      background-color: rgb(100, 100, 100);
    }
    10% {
        background-color: rgb(85, 85, 85);
      }
      20% {
        background-color: rgb(100, 100, 100);
      }
      30% {
          background-color: rgb(85, 85, 85);
        }
        40% {
            background-color: rgb(100, 100, 100);
          }
          50% {
              background-color: rgb(85, 85, 85);
            }
            60% {
                background-color: rgb(100, 100, 100);
              }
              70% {
                  background-color: rgb(85, 85, 85);
                }
                80% {
                    background-color: rgb(100, 100, 100);
                  }
                  90% {
                      background-color: rgb(85, 85, 85);
                    }
                    100% {
                        background-color: rgb(100, 100, 100);
                      }
                      
   
  }
p {
    animation-duration: 3s;
    animation-name: slidein;
    text-align: center;
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

  }
  
  @keyframes slidein {
    from {
      margin-left: 100%;
      width: 300%;
    }
  
    to {
      margin-left: 0%;
      width: 100%;
    }
  }

  h1{
    text-align: center;
    color: white;
    font-size: x-large;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  }
  h2{
    text-align: center;
    color: white;
    font-size: x-large;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  }

  img{
    animation-duration: 3s;
    animation-name: img;
  }

  @keyframes img {
    from {
      margin-left: 100%;
      width: 300%;
    }
  
    to {
      margin-left: 0%;
      width: 100%;
    }
  }